@model IEnumerable<Pretboek.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.post_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post_img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post_author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post_created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post_likes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.post_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post_img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post_author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post_created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post_likes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.post_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.post_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.post_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
